In [1]:
import pandas as pd
import numpy as np

from module.BankMarketingDataProcessor import BankMarketingDataProcessor
from module.BankMarketingDataSerializer import BankMarketingDataSerializer
from module.BankMarketingDataLearner import BankMarketingDataLearner

from sklearn import manifold

## Initial Bank Marketing Dataset

In [2]:
data = pd.read_csv("data/bank.csv",sep=";")
clustering_data = pd.read_csv("data/clustering_bank_data.csv",index_col=0)

In [3]:
BankDataProcessor = BankMarketingDataProcessor(data=data)

BankDataLearner = BankMarketingDataLearner(processor=BankDataProcessor,serializer=None)

In [4]:
clustered_data = BankDataLearner.createKMeansModel()

In [5]:
clustering_data['cluster'] = pd.Series(clustered_data.labels_, index=clustering_data.index)

In [6]:
clustering_data.to_csv("./data/clustered_bank_data.csv")

In [7]:
d = data[data.y == 'yes']
d

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
30,68,retired,divorced,secondary,no,4189,no,no,telephone,14,jul,897,2,-1,0,unknown,yes
33,32,management,single,tertiary,no,2536,yes,no,cellular,26,aug,958,6,-1,0,unknown,yes
34,49,technician,married,tertiary,no,1235,no,no,cellular,13,aug,354,3,-1,0,unknown,yes
36,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes

In [8]:
c = clustering_data[clustering_data.cluster == 1]
c

,age,balance,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,day_27,day_28,day_29,day_30,day_31,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,cluster
10,39,9374,273,1,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
40,38,11971,609,2,101,3,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
64,56,16873,223,1,-1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
72,31,6248,154,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
94,57,14093,231,5,-1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4440,45,13117,42,2,-1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
4441,38,12877,118,3,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4451,55,6880,353,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4457,37,6969,412,1,-1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
4489,45,6945,131,5,356,3,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1