In [1]:
import pandas as pd
import numpy as np

from module.BankMarketingDataProcessor import BankMarketingDataProcessor
from module.BankMarketingDataSerializer import BankMarketingDataSerializer
from module.BankMarketingDataLearner import BankMarketingDataLearner

from sklearn import manifold
from sklearn import metrics

import plotly.express as px

import pickle

## Initial Bank Marketing Dataset

In [2]:
data = pd.read_csv("data/bank.csv",sep=";")

viusalize the data

In [3]:
data.tail(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4396,41,retired,single,primary,no,0,no,no,cellular,8,may,239,1,368,2,failure,no
4397,35,blue-collar,married,secondary,no,305,yes,no,cellular,18,may,7,7,367,25,failure,no
4398,57,retired,married,tertiary,no,31,no,no,cellular,19,aug,260,2,-1,0,unknown,no
4399,29,entrepreneur,married,secondary,no,452,yes,no,unknown,27,may,347,1,-1,0,unknown,no
4400,48,admin.,married,secondary,no,5,yes,no,unknown,7,may,697,2,-1,0,unknown,no

## Constructing Bank Data Objects

-  `BankDataProcessor`: A data preprocessor module.
-  `BankDataSerializer`: A object serializer module.
-  `BankDataLearner`: The main bank data module.

In [4]:
BankDataProcessor = BankMarketingDataProcessor(data=data)
BankDataSerializer = BankMarketingDataSerializer(serializer=pickle)

BankDataLearner = BankMarketingDataLearner(processor=BankDataProcessor,serializer=BankDataSerializer)

## Visualize pre-processed data

In [5]:
pre_processed_data = pd.read_csv("data/pre_processed_bank_data.csv",index_col=0)

pre_processed_data.tail(5)

,age,balance,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,day_27,day_28,day_29,day_30,day_31,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,y
4396,41,0,239,1,368,2,0,0,0,0,...,0,0,0,0,0,1,0,0,0,no
4397,35,305,7,7,367,25,0,1,0,0,...,0,0,0,0,0,1,0,0,0,no
4398,57,31,260,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,no
4399,29,452,347,1,-1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,no
4400,48,5,697,2,-1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,no

## Clustering Bank Marketing Data

### Loading Pre-Trained Models

In [ ]:
KMeans_model = BankDataSerializer.load(filepath="./model/cluster/KmeansModel.saved")

## Classifying Bank Marketing Data

### Loading Pre-Trained Models